input {
  border: none;
  background: transparent;
  //   color: #fff;
  outline: none;
  letter-spacing: 0.1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 5rem;
}

.input-search {
  width: 50%;
}
